@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
/*thong tin cá»§a footer*/
.Footer{
    width: 100%;
    height: 100vh;
}
.Footer_header{
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 10px;
}

.Footer_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person{
    padding: 20px;
}
.container {
  border-radius: 50%;
  height: 80px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
}
.container:after {
  background-color: #f2f2f2;
  
  height: 5px;
  position: absolute;
  top: 190px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 200,200 C 195,255.4670 155.4670,299 100,295 47.532949,295 5,252.46705 5,170 V 10 H 200 360 Z"
  );
 
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 190px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 105px;
  width: 190px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 22px;
  top: 1px;
  width: 170px;
}

.divider {
  background-color: #ca6060;
  height: 1px;
  width: 200px;
  display: flex;
  height: 300px;
  flex-direction: column;
  text-align: center;
}
.name {
  color: #0c0a0b;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #110e0e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}
/* */
